<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name= "rules">
      <section name="addition" type="System.Configuration.NameValueSectionHandler"/>
      <section name="subtraction" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <rules>
    <addition>
      <add key="Basic Pay" value ="30%"/>
      <add key="Special Allowance" value="5%"/>
      <add key="House Rent Allowance" value="5%"/>
      <add key="Special Allowance" value="20%"/>
      <add key="Medical Allowance" value="10%"/>
      <add key="Computer Allowance" value="14%"/>
      <add key="Balance" value="Others" />
    </addition>
    <subtraction>
      <add key ="Professional Tax" value ="4%"/>
      <add key ="Tax Deducted At Source" value ="7%"/>
      <add key="Excise Duty Tax" value ="8%"/>
    </subtraction>
  </rules>
  <appSettings>
    <add key = "pdfHeaderImage" value = "E:\Images\arcquest.png"/>
    <add key = "footerContent" value = "E:\Salary Slip Related Files\Information.txt"/>
    <add key = "senderEmailID" value = "jhilmil.basu92@gmail.com"/>
    <add key = "senderEmailPassword" value = "Jhilmil@12111992"/>
    <add key = "smtpHost" value = "smtp.gmail.com"/>
    <add key = "smtpPort" value = "587"/>
    <add key = "enableSsl" value = "true"/>
    <add key = "emailSubject" value = "My Test Email!"/>
  </appSettings>
</configuration>